@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 125, 209;
  --background-rgb: 214, 240, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 125, 209;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
