.contact-me {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

textarea {
  height: 100px;
}

button {
  margin-left: 5px;
  text-decoration: none;
  padding: 5px 12px;
  background-color: #007bff;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 20px;
  transition: background-color 0.5s ease;
  transform: scale(1.2);
  border: none;
}

button:hover {
  // background-color: #003a79;
  // cursor: pointer;
}

.disabled {
  background-color: grey;
  :hover {
    background-color: grey;
    cursor: none;
  }
}


