.contact-me {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 2rem;
  
  h2 {
    padding-bottom:2rem;
  }
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

textarea {
  height: 100px;
}

button {
  margin-left: 5px;
  text-decoration: none;
  padding: 5px 12px;
  background-color: #007bff;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 20px;
  transition: background-color 0.5s ease;
  transform: scale(1.2);
  border: none;
}

button:hover {
  background-color: #003a79;
  cursor: pointer;
}

.disabled {
  background-color: grey;
  :hover {
    background-color: grey;
    cursor: none;
  }
}

a {
  display: inline-block; // Ensures the anchor behaves well with an inline image
  img {
    transition: transform 0.2s ease-in-out; // Smooth transition for scaling
    &:hover {
      transform: scale(1.05); // Adjust the scale factor as needed (1.1 means 10% bigger)
    }
  }
}

@media screen and (max-width: 650px) {
  input, textarea, select {
    font-size: 16px;
  }
}