nav {
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  padding: 20px 5%;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0 0 50 0;
}

nav ul li {
  display: inline-flex;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 12px;
  background-color: none;
  border-color: #003a79;
  color: rgb(0,125,209);
  border-style: 5px;
  text-align: center;
  align-content: center;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

nav ul li a:hover {
  background-color: #007bff;
  color: white;
}