body, html {
  height: 100%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: rgb(214,240,255);
  color: rgb(0,125,209);
  font-family: sans-serif;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
router-outlet {
  flex-grow: 0;
}

app-footer {
  margin-top: auto;
  text-align: center;
}

.centered {
  text-align: center;
}

.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.disabled {
  background-color: grey;
  color: grey
}

img {
  border-radius: 20px;
  max-width: 100%;
}

h2 {
  margin: 0 2px 0 2px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}